/* reset default styles */
@import 'variables.scss';
@import url(https://fonts.googleapis.com/css?family=Monoton&display=swap);
@import url(https://fonts.googleapis.com/css?family=Knewave&display=swap);
@import url(https://fonts.googleapis.com/css?family=Averia+Serif+Libre&display=swap);

/* ---------- WHOLE DOCUMENT ---------- */

html, body {
  height: 100%;
  text-align: center;
}

body {
  background: $background-color;
  color: $body-text;
  font-size: 1.5rem;
}

/* ---------- HEADINGS ---------- */

.h1, .h2, .h3, h1, h2, h3 {
	margin-top: 10px;
  margin-bottom: 10px;
  color: blueviolet !important;
  font-family: $Monoton;
}


/* ---------- CONTAINERS ---------- */

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container {
  border: 1px solid $body-text;
  border-radius: 15px;
  margin: 30px 30px 30px 30px;
  padding: 20px 20px 20px 20px;
}

/* ---------- IMAGES ---------- */


/* ---------- LINKS ---------- */

a {
  color: $body-text;
  text-decoration: none;
  :visited {
    color: $body-text;
  }
  :hover {
    color: $hover-color;
  }
}

/* ---------- TABLE ---------- */

.header {
  text-align: center;
	font-size: 2rem;
	font-family: 'Knewave', cursive;
}

tr {
  text-align: center;
  font-family: $Averia;
  font-size: 1.3rem;
}
tr:hover {
  font-size: 1.6rem;
  font-weight: bold;
}

/* ---------- BUTTONS ---------- */

button, input[type=button], input[type=submit] {
  background-color: transparent;
  border-color: blueviolet;
  font-size: 2rem;
  font-family: 'Knewave', cursive;
  color: #ff745e;
  border-radius: 10px;
  :hover {
    color: $hover-color;
  }
}



